.header {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.highlight {
  color: #ff7b29;
}

.nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.nav li {
  color: #6a6868;
  margin-right: 20px;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav li.selected {
  color: black;
  border-bottom: 2px solid #ff7b29;
}

.collections-btn {
  background-color: #ff7b29;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
  }

  .nav ul {
    margin-top: 0;
    justify-content: center;
  }

  .nav li {
    margin: 0 10px;
  }
}
